<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
    <title>Home</title>
</head>
<body>
<th:block th:replace="layout/layout :: header"/>
<hr>
<h2>회원 목록</h2>
<table style="text-align: center; border: 1px red solid">
    <thead>
    <tr>
        <th>회원번호</th>
        <th>아이디</th>
        <th>이름</th>
        <th>등록날짜</th>
        <th>유형</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="memberList : ${memberList}">
        <th><span th:text="${memberList.mno}"/></th>
        <th><span th:text="${memberList.id}"/></th>
        <th><span th:text="${memberList.name}"/></th>
        <th><span th:text="${memberList.email}"/></th>
        <th><span th:text="${#dates.format(memberList.created_date, 'YYYY-MM-dd HH:mm:ss')}"/></th>
        <th><span th:text="${memberList.role}"/></th>
    </tr>
    </tbody>
</table>
<hr>
<button id="writeBtn">글쓰기</button>
<h2>글 목록</h2>
<table style="text-align: center; border: 1px red solid">
    <thead>
    <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>일반조회</th>
        <th>전문가조회</th>
        <th>전문가추천수</th>
        <th>일반인추천수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boardList : ${boardList}">
        <th><span th:text="${boardList.bno}"/></th>
        <th><a th:href="@{'/select/' + ${boardList.bno}}"><span th:text="${boardList.title}"/></a></th>
        <th><span th:text="${boardList.writer}"/></th>
        <th><span th:text="${#dates.format(boardList.regDate, 'YYYY-MM-dd HH:mm:ss')}"/></th>
        <th><span th:text="${boardList.noCount}"/></th>
        <th><span th:text="${boardList.exCount}"/></th>
        <th><span th:text="${boardList.rxReco}"/></th>
        <th><span th:text="${boardList.noReco}"/></th>
    </tr>
    </tbody>
</table>

<th:block th:replace="layout/layout :: footer"/>
</body>
</html>