{{>layout/header}}
{{#select}}
    <input type="hidden" id="bno" value="{{bno}}">
제목 : <p>{{title}}</p>
작성자 : <p>{{writer}}&emsp13;&emsp13;&emsp13;{{regdate}}&emsp13;&emsp13;</p>
내용 : <p>{{content}}</p>
등록날짜 : <p>{{regdate}}</p>
일반조회수 : <p>{{noCount}}</p>
전문가조회수 : <p>{{exCount}}</p>
전문가추천수 : <p>{{rxReco}}</p>
일반인조회수 : <p>{{noReco}}</p>
    <button id="reco">추천</button>
    <button id="updateBtn">수정</button>
    <button id="delete">삭제</button>
    <button id="selectcancel">취소</button>

{{/select}}
<h2>댓글</h2>
<ul>
    {{#replyList}}
        <li>
            <p>작성자 : {{rwriter}}&emsp13;&emsp13;&emsp13;{{rregDate}}</p>
            {{rcontent}}
        </li>
    {{/replyList}}
</ul>
<br><br><br><br>
작성자 : <input type="text" id="rwriter"><br>
내용 : <textarea id="rcontent"></textarea><br>
<button id="reply">댓글달기</button><button id="cancel">취소</button>
{{>layout/footer}}