<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.a.aa.mapper.MemberMapper">

        <insert id="join">
            insert into p_user values(
                p_memberr_seq.nextval,
                sysdate,
                sysdate,
                null,
                #{id},
                #{name},
                #{password},
                null,
                #{role}
            )
        </insert>

        <select id="memberList" resultType="com.a.aa.domain.MemberListDTO">
            select mno, id, name, created_date, email, role
            from p_user_view
            order by mno
        </select>

        <select id="login" resultType="com.a.aa.domain.LoginDTO">
            select mno, id, name, role from p_user_view
            where id = #{id} and password = #{password}
        </select>
</mapper>